#footer {
    background-color: #010409; /* cor diferente proposital */

    text-align: center;
    padding: 15px;

    font-size: 0.8rem;
    color: var(--text-secondary);

    border-top: 1px solid var(--border);
    margin-top: auto;
}