/* ===================== HEADER ===================== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--border);

    animation: fadeUp 0.8s ease;
}

/* Logo */
#logo {
    width: 60px;
}

#logo-container h1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo-container p {
    font-size: 0.9rem;
    color: var(--text-secondary);
}

/* NAV */
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--text-primary);
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: var(--accent);
}


@media (max-width: 480px) {

    header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    nav ul {
        justify-content: center;
    }
}