/* ===================== MAIN ===================== */
/*
Flex para centralizar o login
*/
main {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
}

/* ===================== CARD ===================== */
#cadastro-box {
    width: 100%;
    max-width: 750px;

    background-color: var(--bg-card);

    padding: 30px;
    border-radius: 12px;

    border: 1px solid var(--border);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

    animation: fadeUp 0.8s ease;
}

/* ===================== ANIMAÇÃO ===================== */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ===================== TEXTOS ===================== */
.section-title {
    text-align: center;
    margin-bottom: 10px;
}

.info-text {
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-secondary);
    margin-bottom: 20px;
}

/* ===================== FORM ===================== */

/*
Grid interno profissional:
- usuário/email em linha única
- senha lado a lado
- links lado a lado
*/
form {
    display: flex;
    flex-direction: column;
}

/* Linha única */
.externa_usuario,
.externa_email {
    width: 100%;
}

/* SENHAS lado a lado */
.externa_senha {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* LINKS lado a lado */
.externa_links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* ===================== LINKS ===================== */
a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ===================== FOOTER ===================== */

/*
Separação visual clara
*/
#footer {
    background-color: #010409;
    /* cor diferente proposital */

    text-align: center;
    padding: 15px;

    font-size: 0.8rem;
    color: var(--text-secondary);

    border-top: 1px solid var(--border);
}


/* Remove HR */
hr {
    display: none;
}

.col-md-4 {
    display: flex!important;
    flex-direction: column!important;
    width: 100%;
    justify-content: space-between;
}

.col-md-4 .col-md-4, .col-md-4-2 {
    display: flex!important;
    flex-direction: row!important;
    width: 100%;
    justify-content: space-between;
}

.col-md-4 .col-md-4 div, .col-md-4-2 div {
    width: 48%;
}

/* ===================== RESPONSIVIDADE ===================== */

/* Tablet */
@media (max-width: 768px) {

    #cadastro-box {
        max-width: 500px;
    }

    .externa_senha,
    .externa_links {
        grid-template-columns: 1fr;
        /* empilha */
    }
}

/* Mobile */
@media (max-width: 480px) {

    body {
        overflow-y: auto;
        /* IMPORTANTE:
        Em telas muito pequenas, permitir scroll evita cortar conteúdo
        (isso é prática profissional, não erro)
        */
    }

    #cadastro-box {
        padding: 20px;
    }
}